/* Maison Commerce Custom Fonts */

/* Vanilla Ravioli - Heading Font */
@font-face {
  font-family: 'Vanilla Ravioli';
  src: url("{{ 'VanillaRavioli.woff2' | asset_url }}") format('woff2'),
       url("{{ 'VanillaRavioli.woff' | asset_url }}") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Gotham - Body and UI Font */
@font-face {
  font-family: 'Gotham';
  src: url("{{ 'fonts/Gotham Book.otf' | asset_url }}") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url("{{ 'fonts/Gotham Regular.otf' | asset_url }}") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url("{{ 'fonts/Gotham Medium.otf' | asset_url }}") format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url("{{ 'fonts/Gotham Bold.otf' | asset_url }}") format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Avenir Next - Secondary Text Font */
@font-face {
  font-family: 'Avenir Next';
  src: url("{{ 'fonts/AvenirNextLTPro-Regular.otf' | asset_url }}") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("{{ 'fonts/AvenirNextLTPro-Medium.otf' | asset_url }}") format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("{{ 'fonts/AvenirNextLTPro-Demi.otf' | asset_url }}") format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("{{ 'fonts/AvenirNextLTPro-Bold.otf' | asset_url }}") format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Grotesk Display Pro - Display Font */
@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url("{{ 'fonts/NeueHaasDisplayRoman.ttf' | asset_url }}") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url("{{ 'fonts/NeueHaasDisplayMediu.ttf' | asset_url }}") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url("{{ 'fonts/NeueHaasDisplayBold.ttf' | asset_url }}") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}